@import "tailwindcss";
@layer theme, base, components, utilities;



@layer base {
   h1{
    color: var(--red);
    font-size: 2vh;
  }
  .text2{
      color: var(--red);
      margin-top: 2vh;
      padding-top: 5vh;
  }
  .text-2xl, footer h1{
    color: var(--white);
  }
}
@layer utilities {
    .custom-gradient {
      @apply bg-gradient-to-b from-[#000000] to-[#8f091f];
    }
    #back-sec {
      @apply relative w-auto h-[68vh] bg-gradient-to-b from-[#000000]
         to-[#8f091f] overflow-hidden;
    }
    #back-sec .absolute{
      /* @apply w-full h-[10vh] bg-gradient-to-t from-[#000000] rounded-t-[0%] opacity-90 delay-5; */
    }
    #about-me{
      margin: 20%;
      grid-gap: 4vh;
      height: 40%;
      padding: 4vh 0vh 0vh 3vh;
    }
    #about-me .flex {
      @apply pt-2 text-left bg-gradient-to-l from-[#000000] rounded-t-[2%]  to-[#8f091f] opacity-90;
    }
    .pg-about-me{
      @apply  transition-all duration-100 ease-out transform opacity-80 translate-y-0
                hover:opacity-70 hover:translate-y-3
                group-hover:opacity-100 group-hover:translate-y-0
                motion-reduce:transition-none motion-reduce:transform-none
                scroll-pt-10;
      padding-bottom: 5vh;
    }
    #about .tech-no{
      @apply transition-all duration-100 ease-out transform opacity-80 translate-y-0
                hover:opacity-70 hover:translate-y-3
                group-hover:opacity-100 group-hover:translate-y-0
                motion-reduce:transition-none motion-reduce:transform-none
                scroll-pt-10;
      height: 40vh;
    }
    .tech-no .block{
      @apply text-left bg-gradient-to-r from-[#000000] rounded-t-[2%]  to-[#8f091f] opacity-60;
    }

    .tech {
      @apply text-white px-5 pt-2;
    }
  @keyframes gradient-move {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-move 8s ease-in-out infinite;
  }
  @keyframes float-slow {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-10px);}
}
.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}
  @keyframes slideFadeRight {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slideFadeRight {
    animation: slideFadeRight 2s ease-out forwards;
  }
    @keyframes slideFade {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slideFade {
    animation: slideFade 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes riseCurve {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 2s ease-out forwards;
  }

  .animate-riseCurve {
    animation: riseCurve 1.2s ease-out forwards;
  }
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: #8f091f;
  --danger-color: #e74c3c;
  --gray-color: #95a5a6;
  --light-gray: #bdc3c7;
  --white: #ffffff;
   --black: #000000;
}


*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  width: auto;
  background-color: var(--black);
  z-index: 100; /* ensures it stays above other content */
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  padding-top: 1.2vh;
  display: grid;
  grid-template-columns: 85vh 220vh;
  grid-template-rows: 5vh;
}

.header h1{
    padding-right: 60vh;
    font-size: 3.5vh;
    color: var(--red);
}

.right-header{
    text-decoration: none;
    justify-items: start;
    align-items: space-between;
    display: inline-block;
    padding: 0vh 12vh 0vh 15vh;
}
.header ul li{
    text-decoration: none;
    display: inline-block;
    align-items: space-between;
    padding-left: 7.2vh;
    font-size: 18px;
    color: var(--white);
    list-style: none;
    text-decoration: none;
    align-items: space-between;
}
.right-header ul li label{
    margin-left: 2.0vh;
}
.right-header ul li a{
    margin-left: 5.5vh;
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
.right-header ul li a:hover, .right-header ul li label:hover    {
    color: var(--red);
}
.background{
    display: flex;
    align-items: space-between;
    justify-items: center;
    padding-top: 2vh;
}
body {
    background-color: '';
}
.text{
    font-size: 3.2vh;
}
.text1{
    color: var(--white);
}
.proj-page{
    background-color: var(--red);
    padding: 0.8vh 3vh 0.8vh 3vh;
    margin-left: 5.5vh;
    border-radius: 0.5vh;
}
.back-img{
    border-radius: 0.5rem;
    width: 65vh;
    height: 50% auto;
}
.backg-picture{
    padding-left: 10vh;
}
.content {
    margin-top: 0vh;
    padding: 10vh 8vh .5vh 8vh;
    display: block;
    background-color: var(--red);
    height: auto;
}
.cons:hover {
  animation: slideFadeLeft 1s ease-in-out;
}
.tech {
  background-color: var(--black);
  padding-right: 3.8vh;
  margin-left: 2vh;
  border-radius: 3vh;
  width: 12%;
}
.tech:hover, .subcontent:hover{
  animation: fadeInUp 1s ease-in-out;
  box-shadow: var(--red) 0.5vh 1vh 1vh;
  opacity: 100%;
}
.footer{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 5vh 20vh;
}
.text-hover:hover{
    animation: slideFadeRight 2s ease-out forwards ;
}
.contact-sect{
  padding: 5vh;
  margin-left: 55vh;
}
.contact {
  padding: 0vh 5vh 2vh;
}
.contact:hover, .contact button{
    box-shadow: var(--red) 0.5vh 1vh 1vh;
}
.contact input, textarea{
  border-bottom: white .5vh solid;
}
.contact button{
  border-radius: 1vh;
}


/* Optional: You can still use your custom styles here */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--black);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: -;
  }
} */

@media only screen and (max-width: 600px) {
  .header {
    gap: 2vh;
    align-items: center;
    height: auto;
    width: 23rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 10rem 1rem;
    grid-template-rows: 6.5rem;
  }

  .header h1 {
    padding-left: 2vh;
    font-size: 1.5rem;
    text-align: center;
  }

  .header ul,
  .right-header {
    display: block;
    padding: 0;
    text-align: center;
  }

  .header ul li {
    display: grid;
    padding: 0.5rem 0;
    font-size: 16px;
  }
  #back-sec{
    padding-top: '';
  }
  .background {
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
  }

  #back-sec .text{
    position: absolute;
    padding: 2rem 8rem 0rem 5rem;
  }
  #back-sec .typewriter-text{
      font-size: 1rem;
  }
  
  #back-sec p{
    font-size: 1.5rem;
  }
  .content {
    padding: 4vh 2vh 1vh 2vh;
    margin-top: 0;
    height: auto;
  }

  .footer {
    flex-direction: column;
    padding: 3vh 2vh;
    text-align: center;
  }

  .footer div {
    margin-bottom: 1.5vh;
  }

  .flex.justify-evenly {
    flex-direction: column;
    gap: 1vh;
  }

  .tech {
    width: 46%;
    margin: .2rem auto;
    padding: 1.5vh;
    font-size: 14px;
  }

  .back-img,
  .backg-picture {
    width: 80%;
    padding-left: 0;
    height: auto;
    padding-top: 3.3rem;
  }
  /* heading About Me */
  #about .text2, .text2{ 
    padding: 10rem 0rem 0rem .2rem;
    height: auto;
  }
  #about .text1{
    display: flex;
    flex-direction: column;
  }
  #about .block, .par {
    grid-template-columns: 9rem 9rem;
    grid-template-rows: auto;
    align-items: stretch;
    gap: 0.2rem;
    padding-left: .8rem;
  }
  .par .pt-4{
    padding-top: 1.5rem;
    font-size: .55rem;
  } 
  #about .tech{
    text-align: center;
  }
  .par{
    display: grid;
    min-width: 0rem;
    padding: 0rem;
  }
  .text {
    font-size: 2vh;
  }
  .cons{
    padding-top: 5rem;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    grid-gap: .3rem;
  }
  .cons .subcontent{
    width: 22rem;
    height: auto;
  }
  .footer{
    width: auto;
    height: auto;
  }
  .footer, footer .flex{
    display: grid;
    grid-template-columns: 2rem 3rem;
    font-size: .6rem;
    justify-content: right;
  }
  footer .pr-90{
    display: grid;
    grid-template-columns: 2rem 3.5rem;
    font-size: .6rem;
    justify-content: right;
  }
  footer div p{
    margin-right: 15rem;
  }
  #services{
    padding: 15rem 0rem 0rem .2rem;

  }
  .contact-sect{
    padding: 4vh 0vh;
    margin-left: 2vh;
    width: fit-content;
  }
  .contact {
    padding: 0vh 4vh 2vh;
    width: 21.5rem;
  }
  .contact input, textarea{
    border-bottom: white .5vh solid;
    width: 18rem;
  }
  .contact button{
    border-radius: 1vh;
  }
}
@keyframes slideFadeRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFadeLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-me-hover:hover {
  animation: slideFadeRight 0.5s ease-out forwards;
}
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes bottomToCenterGrow {
    from {
      transform: translateY(100%) scale(2);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 2;
    }
}